{
  "root": true,
  "parserOptions": {
    "ecmaFeatures": {
      "jsx": true
    }
  },
  "extends": "@react-native-community",
  "settings": {
    "react": {
      "version": "detect"
    },
    "import/resolver": {
      "node": {
        "paths": ["src"]
      }
    }
  }
}
